@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
  }
  html, body {
    margin: 0;
    height: 100%;
  }
body {
  background-color: rgb(255, 253, 250);
  display: flex;
  flex-direction: column;
 }

 a {
   text-decoration: none;
   color: black;
 }
/*header*/
.banner {
    background-color: rgb(153, 217, 234);
    max-height: 200px; 
}
.banner-content {
  padding: 20px;
  align-items: center;
}
.banner-text {
  flex-grow: 1;
  line-height: 1.4;
}
.welcoming {
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    font-size: 120px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-transform: uppercase;
}


.account-button-container {
float: right;
margin: 0;
}

.account-button {
 border: none;
}
.settings {
  width: 64px;
  height: 64px;
}

/* The sidepanel menu */
.sidepanel {
 max-height: 800px; /* Specify a height */
 height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  right: 0;
  bottom: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: white;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(255, 253, 250);
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: rgba(255, 253, 250, 0.89);
}

/*search bar*/
.wrapper{
    max-width: 810px;
    margin: 75px auto 200px auto;
  }

.wrapper .search-input {
    text-align: center;
    margin: 15px;
}

  .wrapper .search-input{
    background: #fff;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
    font-family: 'Poppins', sans-serif;
  }
  
  .search-input input{
    height: 65px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
.search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 290px;
    overflow-y: clip;
  }
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #757575;
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #686868;
    cursor: pointer;
  }
  
  /*main buttons */
  .main-clicks  {
    border: none;
    background-color: rgb(255, 253, 250);
    text-decoration: none;
    color: black;
    transition: .3s linear;
  }

  #main-clicks-container {
    margin-top: -100px;
  }
  
  .main-clicks:hover {
    opacity: 0.65;
  }

  .row {
    position: relative;
  }
  
  .main-clicks-p {
    font-size:xx-large;
  }

  /*trending*/


  .trending-p {
    font-weight: bold;
  }

  /*latest*/

  .latest-p {
    font-weight: bold;
  }

  /*random*/

  .random-p {
    font-weight: bold;
  }
  /*end of main buttons*/  /*end header*/

  /*Main content*/
fieldset {
  border:1px solid rgb(136, 136, 136);
  color: #2c2c32;
  margin: 0px 185px 10px 185px;
  }

  .caption {
    position: relative;
    text-align: left;
    margin-left: 188px;
    
  }

  #LATEST-NEWS, #TRENDING-TOPICS, #TRENDING-NEWS {
    margin-top: 150px;
  }

  .thumbnails {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
    margin-top: 25px;
	}

		.thumbnails .box {
			margin: 0 1em 2em 1em;
			width: 30%;
		}

    .box {
      border-radius: 4px;
      margin-bottom: 2em;
      background: #f1f1f1;
      text-align: center;
    }
  
      .box > :last-child,
      .box > :last-child > :last-child,
      .box > :last-child > :last-child > :last-child {
        margin-bottom: 0;
      }
  
      .box .image.fit {
        margin: 0;
      }

      .image.fit:hover {
        transform: scale(1.05);
        /*transition: all .2s ease-in-out; */
        transition: .2s linear;
      }
  
      .box .image img {
        border-radius: 4px 4px 0 0;
      }
  
      .box > .inner {
        padding: 1.5em;
        width: 100% !important;
        text-align: justify;
      }

      .inner > h3 {
        text-align: center;
      }

      .image {
        border-radius: 4px;
        border: 0;
        display: inline-block;
        position: relative;
      }
    
        .image img {
          border-radius: 4px;
          display: block;
        }
    
        .image.left, .image.right {
          max-width: 40%;
        }
    
          .image.left img, .image.right img {
            width: 100%;
          }
    
        .image.left {
          float: left;
          padding: 0 1.5em 1em 0;
          top: 0.25em;
        }
    
        .image.right {
          float: right;
          padding: 0 0 1em 1.5em;
          top: 0.25em;
        }
    
        .image.fit {
          display: block;
          margin: 0 0 2em 0;
          width: 100%;
        }
    
          .image.fit img {
            width: 100%;
          }
    
        .image.main {
          display: block;
          margin: 0 0 3em 0;
          width: 100%;
        }
    
          .image.main img {
            width: 100%;
          }

          input[type="submit"],
          input[type="reset"],
          input[type="button"],
          .button {
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            appearance: none;
            -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            background-color: #70c7be;
            border-radius: 4px;
            border: 0;
            color: #ffffff !important;
            cursor: pointer;
            display: inline-block;
            font-weight: 400;
            height: 2.85em;
            line-height: 2.95em;
            padding: 0 1.5em;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
          }
        
            input[type="submit"]:hover,
            input[type="reset"]:hover,
            input[type="button"]:hover,
            .button:hover {
              background-color: #82cec6;
            }
        
            input[type="submit"]:active,
            input[type="reset"]:active,
            input[type="button"]:active,
            .button:active {
              background-color: #5ec0b6;
            }
        
            input[type="submit"].icon,
            input[type="reset"].icon,
            input[type="button"].icon,
            button.icon,
            .button.icon {
              padding-left: 1.35em;
            }
        
              input[type="submit"].icon:before,
              input[type="reset"].icon:before,
              input[type="button"].icon:before,
              button.icon:before,
              .button.icon:before {
                margin-right: 0.5em;
              }
        
            input[type="submit"].fit,
            input[type="reset"].fit,
            input[type="button"].fit,
            button.fit,
            .button.fit {
              display: block;
              margin: 0 0 1em 0;
              width: 100%;
            }
        
            input[type="submit"].small,
            input[type="reset"].small,
            input[type="button"].small,
            button.small,
            .button.small {
              font-size: 0.8em;
            }
        
            input[type="submit"].big,
            input[type="reset"].big,
            input[type="button"].big,
            button.big,
            .button.big {
              font-size: 1.35em;
            }
        
            input[type="submit"].disabled, input[type="submit"]:disabled,
            input[type="reset"].disabled,
            input[type="reset"]:disabled,
            input[type="button"].disabled,
            input[type="button"]:disabled,
            button.disabled,
            .button.disabled,
            .button:disabled {
              background-color: rgba(255, 255, 255, 0.75) !important;
              box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
              color: #202024 !important;
              cursor: default;
              opacity: 0.25;
            }
        
            input[type="submit"].style2,
            input[type="reset"].style2,
            input[type="button"].style2,
            button.style2,
            .button.style2 {
              background-color: #cf7f7f;
            }
        
              input[type="submit"].style2:hover,
              input[type="reset"].style2:hover,
              input[type="button"].style2:hover,
              button.style2:hover,
              .button.style2:hover {
                background-color: #d69292;
              }
        
              input[type="submit"].style2:active,
              input[type="reset"].style2:active,
              input[type="button"].style2:active,
              button.style2:active,
              .button.style2:active {
                background-color: #c86c6c;
              }
        
            input[type="submit"].style3,
            input[type="reset"].style3,
            input[type="button"].style3,
            button.style3,
            .button.style3 {
              background-color: #d07e7e;
            }
        
              input[type="submit"].style3:hover,
              input[type="reset"].style3:hover,
              input[type="button"].style3:hover,
              button.style3:hover,
              .button.style3:hover {
                background-color: #d79191;
              }
        
              input[type="submit"].style3:active,
              input[type="reset"].style3:active,
              input[type="button"].style3:active,
              button.style3:active,
              .button.style3:active {
                background-color: #c96b6b;
              }

  #LATEST-NEWS, #TRENDING-TOPICS {
    margin-bottom: 30px;
  }

  .load-more-1 {
    display: block;
    margin: auto;
    height: 50px;
    padding: 0px 50px;
    border: 0;
    font-size: 16px;
    color: #757575;
    text-decoration: underline;
    transition: .3s linear;
    background-color: rgb(255, 253, 250);;
    margin-bottom: 10px;
  }

  .load-more-1:hover {
    opacity: 0.8;
  }
  /*end of main content*/

  /*footer*/
  footer {
    margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;

  }

  footer {
    display: block;
  }

 /* .sticky { 
    position: sticky;
    bottom: 0;
    position: -webkit-sticky;}  /* Safari */
  
  #footer {
		padding: 0.1em 0 0 0;
		background-color: rgb(245, 243, 240);
		text-align: center;
	}

		#footer .inner {
			width: 50%;
			margin: 0 auto;
		}

    #footer .copyright {
			color: #2c2c32;
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0;
			text-align: center;
		}

    .icon {
      text-decoration: none;
      border-bottom: none;
      position: relative;
      list-style: none;
      display: inline;
    }

    .bi-envelope-fill {
      margin: 0px 5px 0px 5px;
    }

    li {
      list-style: none;
      display: inline;
    }
  
      .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
      }
  
      .icon > .label {
        display: none;
      }

    /*end of footer*/

@media (min-width: 992px) { /*big devices*/

    .banner {
        width: 100%;
    }

    .welcoming {
        width: 100%;
        height: 100%;
    }

    .wrapper .search-input {
      margin-top: 150px;
  }

    .thumbnails .box {
      width: 45%;
    }
}


@media (min-width: 559px) and (max-width: 991px) {  /*tablets*/

    .welcoming {
        font-size: 75px;
        display: block;
    }

    .banner {
        height: 88%;
        display: block;
    }

    .wrapper {
      width: 95%;
      align-self: center;
      align-items: center;
      display: block;
      margin-top: 200px;
  }

  .thumbnails .box {
    width: 100%;
  }
  
  fieldset {
    margin: 150px 100px 10px 100px;
  }

  .trending-form, .latest-form, .random-form {
    display: none;
  }

  .fieldset-1 {
    margin-top: 0px;
  }
  
  .fieldset-2 {
    margin-top: 0px;
  }
  
  .fieldset-3 {
    margin-top: 0px;
  }

  .caption {
    margin-left: 103px;
    text-align: left;
      margin-bottom: 10px;
  }

}

@media (min-width: 499px) and (max-width: 588px) { /*small tablets*/
  .welcoming {
    font-size: 60px;
    display: block;
 }

 .banner {
    height: 83%;
    display: block;
 }

 .wrapper {
  width: 100%;
  align-self: center;
  align-items: center;
  display: block;
 }

 .trending-form, .latest-form, .random-form {
  display: none;
}

/*.account-button-container {
  display: none;
}*/

 .thumbnails .box {
  width: 100%;
}

fieldset {
  margin: 150px 50px 10px 50px;
}

.fieldset-1 {
  margin-top: 0px;
}

.fieldset-2 {
  margin-top: 0px;
}

.fieldset-3 {
  margin-top: 0px;
}

.caption {
  text-align: center;
  margin-left: 0px;
}

.image.fit:hover {
  transform:none;
  /*transition: all .2s ease-in-out; */
  transition:none;
}

.image.fit:hover {
  transform:none;
  /*transition: all .2s ease-in-out; */
  transition: none;
}

}

@media (min-width: 377px) and (max-width: 498px) {  /*large phones*/

    .welcoming {
        font-size: 48px;
    }

    .banner {
        height: 90%;
        display: block;
    }


  .thumbnails .box {
    width: 100%;
  }

  ::placeholder {
    font-size:small;
  }

  .trending-form, .latest-form, .random-form {
    display: none;
  }

  /*.account-button-container {
    display: none;
  }*/

  fieldset {
    margin: 150px 50px 10px 50px;
  }

  .fieldset-1 {
    margin-top: 0px;
  }
  
  .fieldset-2 {
    margin-top: 0px;
  }
  
  .fieldset-3 {
    margin-top: 0px;
  }

  .caption {
    text-align: center;
    margin-left: 0px;
    
  }
  
}

@media (min-width: 377) and (max-width: 376px) {  /*phones*/

    .welcoming {
        font-size: 45px;
        display: block;
    }

    .banner {
        height: 85%;
        display: block;
    }

    .wrapper {
      float: left;
  }

  .thumbnails .box {
    width: 100%;
  }

  ::placeholder {
    font-size:smaller;
  }

  .trending-form, .latest-form, .random-form {
    display: none;
  }

  /*.account-button-container {
    display: none;
  }*/

  fieldset {
    margin: 150px 50px 10px 50px;
  }

  .fieldset-1 {
    margin-top: 0px;
  }
  
  .fieldset-2 {
    margin-top: 0px;
  }
  
  .fieldset-3 {
    margin-top: 0px;
  }

  .caption {
    text-align: center;
    margin-left: 0px;
  }

}

@media (max-width: 376px) {  /* small phones */

  .welcoming {
    font-size: 33px;
    display: block;
  }

  .banner {
      height: 78%;
      display: block;
      width: 100%;
  }

  .thumbnails .box {
    width: 100%;
  }

  .wrapper {
    margin-top: 75px;
    height: 80%;
  }
  ::placeholder {
    font-size: x-small;
  }

  .trending-form, .latest-form, .random-form {
    display: none;
  }

  .account-button-container {
    display: none;
  }

  fieldset {
    margin: 150px 50px 10px 50px;
  }

  .fieldset-1 {
    margin-top: 0px;
  }
  
  .fieldset-2 {
    margin-top: 0px;
  }
  
  .fieldset-3 {
    margin-top: 0px;
  }

  .caption {
    text-align: center;
    margin-left: 0px;
  }

  .image.fit::after {
    transform: scale(1.01);
    /*transition: all .2s ease-in-out; */
    transition: .2s linear;
  }

}

/*Sign-in form*/
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.h-custom {
height: calc(100% - 73px);
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
/*end of Sign-in form*/